@import "partials/reset";

@mixin respond-at($media) {
  @media only screen and (min-width: $media) {
    @content;
  }
}

@mixin respond-ht($media) {
  @media only screen and (min-height: $media) {
    @content;
  }
}

html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

$base-clr: #2ca8c8;
$base-20l: (lighten($base-clr, 20%));
$base-20d: (darken($base-clr, 20%));
$accent-clr: #e71414;
$accent-20l: (lighten($accent-clr, 20%));
$accent-20d: (darken($accent-clr, 20%));
$primary-grey: #6f6f6f;
$light-grey: #c0c0c0;
// Width Breakpoints
$bp-xsmall: 600px;
$bp-small: 780px;
$bp-med: 1060px;
$bp-large: 1400px;
// Height Breakpoints
$bph-small: 740px;
$bph-med: 825px;
body {
  font-family: 'Josefin Sans', sans-serif;
  font-style: normal;
  font-weight: 400;
  line-height: 1.2;
  color: $primary-grey;
}

a,
a:visited {
  color: $primary-grey;
}

.light-grey {
  color: $light-grey;
}

h1 {
  font-size: 1.7rem;
  &::first-letter {
    text-transform: capitalize;
  }
}

h2 {
  font-size: 1.5rem;
  margin: 2px;
  &::first-letter {
    text-transform: capitalize;
  }
}

h3 {
  font-size: 1rem;
  &::first-letter {
    text-transform: capitalize;
  }
}

h4 {
  font-size: 0.7rem;
  font-weight: 600;
  &::first-letter {
    text-transform: capitalize;
  }
}

.smallText {
  font-size: 0.7rem;
}

.text-bold {
  font-weight: 600;
}

.container {
  display: flex;
  flex-direction: row;
  width: 100%;
  min-height: 100vh;
  flex-wrap: wrap;
  @include respond-at($bp-med) {
    min-height: 100vh;
  }
}


/* calendar */

.cal__container {
  flex: 1 1 auto;
  width: 98%;
  margin: 5px;
  border-radius: 25px;
  border-style: solid;
  border-width: 1px;
  border-color: $light-grey;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  @include respond-at($bp-med) {
    width: 60%;
  }
}

.cal__heading__container {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #ededed;
}

.cal__heading {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 10%;
  height: 100%;
  flex: 1 1 auto;
  padding: 5px;
  overflow: hidden;
  background-color: #adadad;
  color: white;
}

.cal__heading--inline {
  display: inline-block;

}

.cal__heading--item {
  &::first-letter {
    text-transform: capitalize;
}}

.cal__heading__internal_container {
  flex: 2 1 auto;
  width: 50%;
  justify-content: space-around;
  align-items: flex-start;
  display: flex;
  flex-direction: column;
}

.cal__heading--larger {
  width: 100%;
}

#languageSelectorContainer {
  padding: 0 5px;
}

.cal__heading--box {
  width: 100%;
  text-align: center;
}

.cal__week {
  display: flex;
  justify-content: center;
  padding-right: 10px;
}

.cal__week__day {
  margin: 10px;
  flex: 1 1 auto;
  width: 12%;
  display: flex;
  justify-content: center;
}

.cal__week__day--text {
  font-size: 0;
  width: 0;
  &::first-letter {
    font-size: 20px;
  }
  @include respond-at($bp-xsmall) {
    font-size: inherit;
    width: auto;
    &::first-letter {
      font-size: inherit;
    }
  }
}

.cal__days__grid {
  display: flex;
  flex-wrap: wrap;
  height: 100%;
  padding: 0.5%;
}

.cal__days__spacer {
  margin: 10px 1% 0 0;
  display: flex;
  flex: 1 1 auto;
  width: 12%;
  box-shadow: 2px 2px 5px 0 rgba(0, 0, 0, 0);
  order: 0;
}

.cal__days__day {
  @extend .cal__days__spacer;
  background-color: #dff8fd;
  justify-content: space-around;
  flex-direction: column;
  align-items: center;
  border-radius: 20px;
  border-style: solid;
  border-width: 1px;
  border-color: #c3f3fd;
  box-shadow: 2px 2px 5px 0 rgba(0, 0, 0, 0.15);
  order: 1;
  text-align: center;
  padding: 20px 0;
}

.cal__days__spacer--end {
  @extend .cal__days__spacer;
  order: 2;
}

.cal__days__day--text {
  visibility: hidden;
  height: 0;
  @include respond-at($bp-xsmall) {
    visibility: visible;
    height: auto;
  }
}

.cal__days__day--ordinal {
  visibility: hidden;
  height: 0;

  @include respond-at($bp-xsmall) {
    visibility: visible;
    height: auto;
  }
}

.cal__days__day--weekend {
  background-color: #fefde6;
  border-color: #fefabd;
}

.cal__days__day--today {
  background-color: #fddfed;
  border-color: #febddb;
}

.cal__week__day {
  order: 1;
}

.today__container {
  display: flex;
  flex: 1 1 auto;
  flex-wrap: wrap;
  width: 98%;
  flex-direction: row;
  align-items: flex-start;
  text-align: center;
  margin: 5px;
  padding: 10px;
  border-radius: 25px;
  border-style: solid;
  border-width: 1px;
  border-color: $light-grey;
  // @include respond-at($bp-med) {
  //   flex-direction: row;
  //   align-items: center;
  // }
  @include respond-at($bp-med) {
    flex-direction: column;
    width: 10%;
    flex-wrap: nowrap;
    align-items: center;
  }
}

.clockdate__container {
  display: flex;
  flex-direction: column;
  flex: 1 1 auto;
  width: 55%;
  margin-bottom: 5px;
  margin-top: 5px;
  align-items: center;
  justify-content: center;
  @include respond-at($bp-xsmall) {
    width: 45%;
  }
  // @include respond-at($bp-med) {
  //   width: 45%;
  // }
  @include respond-at($bp-med) {
    width: 100%;
  }
}

.clockdate__string__container {
  display: flex;
  justify-content: space-around;
  width: 80%;
  min-height: 20%;
}

.clockdate__digit__container {
  flex: 1 1 auto;
  flex-direction: column;
  display: flex;
  justify-content: left;
  align-items: center;
  width: 30%;
}

.clockdate__digit--word {

}

footer {
  display: flex;
  flex-direction: column;

  @include respond-at($bp-xsmall) {
    flex-direction: row;
  }
  margin: 5px;
  padding: 10px;
  border-radius: 25px;
  border-style: solid;
  border-width: 1px;
  border-color: $light-grey;
  align-items: center;
  width: 100%;
  background-color: $light-grey;
  color: white;
  & a, a:visited {
    color: white;
  }
}

.footer__container {
  width: 100%;
  @include respond-at($bp-small) {
    width: 45%;
  }
padding: 5px;
}

.footer__container--list {
  padding-bottom: 10px;
}
